/* about.css */

.aboutMe {
	background-color: #fff;
	color: #000000;
	padding: 50px;
	padding-bottom: 75px;
	padding-top: 40px;
	margin-top: 200px;
	margin-bottom: 150px;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

.aboutMe > h2 {
	font-size: 48px;
	margin: 0;
	padding: 0;
	font-family: 'Righteous';
}

.aboutMe > p {
	font-size: 18px;
	max-width: 700px;
}

.aboutMe > p:first-child {
	margin-top: 40px;
}

.aboutMe > p.lastChild {
	margin-bottom: 0;
}