/* contact.css */

.contactInfoList {
	display: block;
	margin-left: 232px;
	margin-top: 40px;
	padding: 0;
}

.contactInfoList > li {
	width: inherit;
	height: 40px;
	font-size: 18px;
	list-style-type: none;
	margin: 0;
	color: #ffffff;
	margin-bottom: 10px;
	text-align: center;
	line-height: 18px;
	display: block;
}

.contactInfoList > li > a {
	text-decoration: none;
	color: inherit;
}

.contactItem {
	text-align: left;
	height: inherit;
	margin: auto;
}

.contactItem-icon-envelope {
	margin-right: 16px;
}

.contactItem-icon {
	margin-right: 20px;
}


.contactItem-icon.fa-envelope {
	font-size: 18px;
}


.contactItem-icon.fa-file-download {
	font-size: 19px;
}



