/* contact.css */

.contactInfo {
	margin: 0;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 100px;
	padding: 0;
	display: inline-block;
	width: 150px;
}

.contactInfo li {
	width: inherit;
	height: 40px;
	font-size: 18px;
	list-style-type: none;
	margin: 0;
	color: #ffffff;
	margin-bottom: 10px;
	text-align: center;
	line-height: 18px;
	display: block;
}

.contactInfo li a {
	text-decoration: none;
	color: inherit;
}

.contactInfo li i {
	margin-right: 20px;
}

.contactInfo li i.fa-envelope {
	font-size: 18px;
}

.contactInfo li i.fa-file-download {
	font-size: 19px;
}

.contactInfo li .contactContainer {
	width: 419px;
	text-align: left;
	height: inherit;
	margin: auto;
}

