/* contact.css */

.contactInfoList {
	margin: 0;
    margin-top: 0;
    margin-bottom: 100px;
    padding: 0;
    display: inline-block;
    width: 150px;
    margin-left: 230px
}

.contactInfoList > li {
	width: inherit;
	height: 40px;
	font-size: 18px;
	list-style-type: none;
	margin: 0;
	color: #ffffff;
	margin-bottom: 10px;
	text-align: center;
	line-height: 18px;
	display: block;
}

.contactInfoList > li > a {
	text-decoration: none;
	color: inherit;
}

.contactItem {
	text-align: left;
	height: inherit;
	margin: auto;
}

.contactItem-icon {
	margin-right: 20px;
}

.contactItem-icon.fa-envelope {
	font-size: 18px;
}

.contactItem-icon.fa-file-download {
	font-size: 19px;
}



