/* home.css */

.introText {
    margin-left: 50px;
    margin-top: 40px;
}

.introText h1 {
    font-size: 90px;
    margin: 0;
    font-family: 'Bitter-Bold';
    line-height: 1;
}

.introText p {

    font-size: 24px;
}

.portfolioLogo {
    margin-left: 50px;
    margin-top: 120px;
    width: 150px;
}